<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/static/style.css" />

        <title>{% block title %}My amazing site{% endblock %}</title>

    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div id="sidebar">
                        <h3>Main</h3>
                        <ul>
                            <li><a href="/main">Dashboard</a> </li>
                        </ul>

                        <h3>Users</h3>
                        {% block sidebar %}
                        <ul>
                        {% for user in users %}
                            <li><a href="{% url 'user' user.id %}">{{user}}</a> </li>
                        {% endfor %}
                        </ul>
                        {% endblock %}

                        <h3>Actions</h3>
                        <ul>
                            <li><a href="/admin">Back office</a> </li>
                            <li><a target="_blank" href="/admin/main/order/add/">Add Order</a> </li>
                            <li><a target="_blank" href="/admin/main/order/add/">New user</a> </li>
                            <li><a target="_blank" href="/admin/main/order">Manage orders</a> </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </body>
</html>
