{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

<h1>Dashboard</h1>

<h2>Open</h2>

<table>
    <tr>
        <th> Number </th>
        <th> Vendor </th>
        <th> Business purpose </th>
        <th> Closed </th>
        <th> Link </th>
    </tr>
{% for order in open_orders  %}
    <tr>
        <td> {{ order.number }} </td>
        <td> {{ order.vendor }} </td>
        <td> {{ order.business_purpose }} </td>
        <td> {{ order.closed}} </td>
        <td> <a href="{% url 'order' order.id %}">link</a></td>
    </tr>
{% endfor %}
</table>

<h2>Closed</h2>
<table>
    <tr>
        <th> Number </th>
        <th> Vendor </th>
        <th> Business purpose </th>
        <th> Closed </th>
        <th> Link </th>
    </tr>

{% for order in closed_orders  %}
    <tr>
        <td> {{ order.number }} </td>
        <td> {{ order.vendor }} </td>
        <td> {{ order.business_purpose }} </td>
        <td> {{ order.closed}} </td>
        <td> <a href="{% url 'order' order.id %}">link</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
